#!/usr/bin/env sh

. ~/.profile

# terminal emulator for rofi
export TERMINAL="alacritty"

# qt theme
export QT_SELECT="5"
export QT_QPA_PLATFORMTHEME="gtk2"

# gtk theme
export GTK2_RC_FILES="${XDG_CONFIG_HOME}/gtk-2.0/gtkrc"

# matplotlib backend
export MPLBACKEND="Qt5Agg"

# set cursor theme
xsetroot -cursor_name left_ptr &

# applications
blucontrol &
conky --config="${XDG_CONFIG_HOME}/conky/clock.conf" &

# disable touchpad, nixos libinput option "clickMethod" doesn't work
touchpad init &
