#!/usr/bin/env sh

# terminal emulator for rofi
export TERMINAL="urxvtc"

# qt theme
export QT_SELECT="5"
export QT_QPA_PLATFORMTHEME="gtk2"

# matplotlib backend
export MPLBACKEND="Qt5Agg"

# applications
blugon --waitforx --fade &
conky --config="$HOME/.config/conky/clock.conf" &

# disable touchpad, nixos libinput option "clickMethod" doesn't work
~/.scripts/touchpad_toggle.sh &
