#!/usr/bin/env sh

. ~/.profile

# terminal emulator for rofi
export TERMINAL="kitty"

# qt theme
export QT_SELECT="5"
export QT_QPA_PLATFORMTHEME="gtk2"

# matplotlib backend
export MPLBACKEND="Qt5Agg"

# applications
blugon --waitforx --fade &
conky --config="${XDG_CONFIG_HOME}/conky/clock.conf" &

# disable touchpad, nixos libinput option "clickMethod" doesn't work
~/.scripts/touchpad_toggle.sh &
