[Desktop Entry]
Version=1.0
Name=Mutt
Comment=All mail clients suck. This one just sucks less.
Exec=urxvtc -name mutt -e mutt %u
Terminal=false
Type=Application
Categories=Office
